* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: row wrap;
  box-sizing: content-box;
  gap: 1px;
  width: 960px;
  height: 960px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.row {
  height: 30px;
  width: 30px;
  background-color: lightgray;
}