* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.row {
  height: 25px;
  width: 25px;
  background-color: lightgray;
}